# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
practice/1_opencv/.vscode/launch.json
practice/1_opencv/.vscode/settings.json
practice/openvino-virtual-environments/openvinoenv/pyvenv.cfg
practice/openvino-virtual-environments/openvinoenv/Scripts/activate
practice/openvino-virtual-environments/openvinoenv/Scripts/activate.bat
practice/openvino-virtual-environments/openvinoenv/Scripts/Activate.ps1
practice/openvino-virtual-environments/openvinoenv/Scripts/chardetect.exe
practice/openvino-virtual-environments/openvinoenv/Scripts/deactivate.bat
practice/openvino-virtual-environments/openvinoenv/Scripts/f2py.exe
practice/openvino-virtual-environments/openvinoenv/Scripts/pip.exe
practice/openvino-virtual-environments/openvinoenv/Scripts/pip3.8.exe
practice/openvino-virtual-environments/openvinoenv/Scripts/pip3.exe
practice/openvino-virtual-environments/openvinoenv/Scripts/python.exe
practice/openvino-virtual-environments/openvinoenv/Scripts/pythonw.exe
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/3d_drawing/mayavi2_spring.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/3d_drawing/README.txt
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/advanced/plot_eigenvalues.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/advanced/plot_heavy_metal_umlaut.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/advanced/plot_iterated_dynamical_systems.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/advanced/plot_parallel_betweenness.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/advanced/README.txt
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/algorithms/hartford_drug.edgelist
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/algorithms/plot_beam_search.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/algorithms/plot_blockmodel.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/algorithms/plot_davis_club.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/algorithms/plot_decomposition.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/algorithms/plot_krackhardt_centrality.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/algorithms/plot_rcm.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/algorithms/README.txt
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/basic/plot_properties.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/basic/plot_read_write.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/basic/README.txt
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/chess_masters_WCC.pgn.bz2
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/knuth_miles.txt.gz
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/lanl_routes.edgelist
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_atlas.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_chess_masters.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_circular_tree.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_degree_histogram.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_degree_rank.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_directed.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_edge_colormap.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_ego_graph.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_four_grids.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_giant_component.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_house_with_colors.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_knuth_miles.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_labels_and_colors.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_lanl_routes.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_multipartite_graph.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_node_colormap.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_random_geometric_graph.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_sampson.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_simple_path.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_spectral_grid.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_unix_email.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/plot_weighted_graph.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/README.txt
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/drawing/unix_email.mbox
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/graph/dot_atlas.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/graph/plot_degree_sequence.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/graph/plot_erdos_renyi.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/graph/plot_expected_degree_sequence.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/graph/plot_football.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/graph/plot_karate_club.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/graph/plot_napoleon_russian_campaign.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/graph/plot_roget.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/graph/plot_words.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/graph/README.txt
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/graph/roget_dat.txt.gz
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/graph/words_dat.txt.gz
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/javascript/force.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/javascript/force/force.css
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/javascript/force/force.html
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/javascript/force/force.js
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/javascript/force/README.txt
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/javascript/README.txt
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/jit/plot_rgraph.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/jit/README.txt
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/pygraphviz/plot_pygraphviz_attributes.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/pygraphviz/plot_pygraphviz_draw.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/pygraphviz/plot_pygraphviz_simple.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/pygraphviz/plot_write_dotfile.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/pygraphviz/README.txt
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/README.txt
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/subclass/plot_antigraph.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/subclass/plot_printgraph.py
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/examples/subclass/README.txt
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/LICENSE.txt
practice/openvino-virtual-environments/openvinoenv/share/doc/networkx-2.5.1/requirements.txt
practice/public/squeezenet1.1/FP16/squeezenet1.1.bin
practice/public/squeezenet1.1/FP16/squeezenet1.1.mapping
practice/public/squeezenet1.1/FP16/squeezenet1.1.xml
practice/public/squeezenet1.1/FP32/squeezenet1.1.bin
practice/public/squeezenet1.1/FP32/squeezenet1.1.mapping
practice/public/squeezenet1.1/FP32/squeezenet1.1.xml
practice/public/squeezenet1.1/squeezenet1.1.caffemodel
practice/public/squeezenet1.1/squeezenet1.1.prototxt
practice/public/squeezenet1.1/squeezenet1.1.prototxt.orig
